.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    input {
        width: 100%;
        color: #fff;
        padding: 12px 16px;
        background-color: black;
    }

    button {
        padding: 12px;
        background-color: black;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
    }
}